<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icon/apple-touch-icon.png?v=M4yKoALrwq">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icon/favicon-32x32.png?v=M4yKoALrwq">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icon/favicon-16x16.png?v=M4yKoALrwq">
    <link rel="manifest" href="/assets/icon/manifest.json?v=M4yKoALrwq">
    <link rel="mask-icon" href="/assets/icon/safari-pinned-tab.svg?v=M4yKoALrwq" color="#874871">
    <link rel="shortcut icon" href="/assets/icon/favicon.ico?v=M4yKoALrwq">
    <meta name="apple-mobile-web-app-title" content="Waldenses">
    <meta name="application-name" content="Waldenses">
    <meta name="msapplication-config" content="/assets/icon/browserconfig.xml?v=M4yKoALrwq">
    <meta name="theme-color" content="#ff0000">

    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link href='//fonts.googleapis.com/css?family=Roboto:300,400,600' rel='stylesheet' type='text/css'> -->
    {% comment %} <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script> {% endcomment %}
</head>
