/* ==========================================================================
   #CREATION
   ========================================================================== */

.c-creation {
    min-height: 100%;
}

    .c-creation__week,
    .c-creation__sabbath {
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .c-creation__week {
        background-position: center center;
        background-size: cover;
        min-height: 100%;

        .c-creation--sabbath & {
            background: none !important;
        }
    }

    .c-creation__sabbath,
    .c-creation__logo {
        position: fixed;
        right: 0;
        bottom: 0;
    }

    /*
     * 1. At viewport aspect ratios smaller than 7/3 the height of the 1/3 image
     *    starts to be the limiting factor, wherefore the size is changed to
     *    1/7% static to cover the whole sabbath collumn.
     * 2. Mobile devices have "background-attachment: fixed;" disabled, so
     *    a "scroll" background behaviour is set by default to avoid glitches.
     */
    .c-creation__sabbath {
        top: 0;
        background-position: right center;
        background-size: contain;

        @media screen and (min-aspect-ratio: 7/3) {
            background-size: 14.28571%; /* 1 */
        }

        @include mq($until: tablet) {
            background-size: cover; /* 2 */
            background-attachment: scroll; /* 2 */
        }

        .c-creation--week & {
            background: none !important;
        }
    }

        .c-creation__logo {
            > svg {
                padding: 25%;
                width: 100%;
                height: 100%;

                .c-creation--week & {
                    fill: $c-text;
                }

                .c-creation--sabbath & {
                    fill: $c-background;
                    filter: drop-shadow(0 4px 30px $c-black);
                }
            }
        }
