/* ==========================================================================
   #BACKGROUND
   ========================================================================== */

.c-background {
    position: fixed;
    background-color: $c-background;
    width: 100%;
    background-repeat: no-repeat;
    z-index: 1;
    background-size: cover;

    &.c-background--week {
        background-position: 42.86% center;
        // background-size: 85.71%; // 6/7
    }

    &.c-background--sabbath {
        background-position: right center;
        background-size: contain;
    }

    & + * {
        position: relative;
        z-index: 2;
    }
}

    .c-background__week {

        .c-background--sabbath & {
            background-color: $c-background;
        }
    }


    .c-background__sabbath {
        position: relative;

        .c-background--week & {
            background-color: $c-background;
        }
    }

        .c-background__logo {
            position: absolute;
            bottom: 0;
            padding: 30%;
            width: 100%;

            .c-background--sabbath & {
                display: none;
            }
        }
