/* ==========================================================================
   #FOOTER
   ========================================================================== */

.c-footer {
    &--page {
        margin: 0 $unit;
        border-top: 1px solid $c-border;
        padding-top: $unit;
    }

    &--landing {
        &,
        a {
            color: rgba($c-white, .6);
        }
    }
}
