/* ==========================================================================
   #ALERTS
   ========================================================================== */

.alert {
    padding: $unit / 2 $unit;
    margin-bottom: $unit;
    border-radius: $global-radius;
    border: 1px solid $color-primary;
    color: $color-primary-lighter;
    background-color: rgba($color-primary-darker, .2);
}

.alert--secondary {
    border-color: $color-secondary;
    color: $color-secondary-lighter;
    background-color: rgba($color-secondary-darker, .4);
}

.alert--tertiary {
    border-color: $color-tertiary;
    color: $color-tertiary-lighter;
    background-color: rgba($color-tertiary-darker, .4);
}
