/* ==========================================================================
   #HERO
   ========================================================================== */
.c-hero {
    @include mq($until: tablet) {
        font-size: 60%;
    }
}

    .c-hero__title {
        font-size: 320%;
        font-weight: 700;
        margin-bottom: 0;
    }

    .c-hero__date {
        font-size: 160%;
        // font-weight: 700;
    }
