/* ==========================================================================
   #SITE-NAV
   ========================================================================== */
$nav-height: 60px;

.site-nav {
    border-bottom: 1px solid $color-primary;
}

    .site-nav__child {
        height: $nav-height;
        padding-bottom: $inuit-global-spacing-unit-small;
        padding-top: $inuit-global-spacing-unit-small;

        @include mq($from: tablet) {
            display: inline-block;
        }
    }

    /*
     * [1] Because .site_nav--logo can be an <a> tag
     */
    .site-nav__logo {
        background-color: $color-white;
        border-radius: 0 0 $global-radius $global-radius;
        display: inline-block; /* [1] */
        padding-left: $inuit-global-spacing-unit-small;
        padding-right: $inuit-global-spacing-unit-small;

        @include mq($from: tablet) {
            float: left;
        }

        > img {
            max-height: $nav-height - $inuit-global-spacing-unit-small * 2;
        }
    }

    .site-nav__list {
        list-style: none;
        margin: 0;

        @include mq($from: tablet) {
            float: right;
        }
    }

        .site-nav__item {
            display: inline-block;
        }

            .site-nav__link {
                color: $color-dark;
                display: block;
                font-weight: 400;
                line-height: $nav-height - $inuit-global-spacing-unit-small * 2;
                padding: 0 $inuit-global-spacing-unit-small;
                position: relative;
                text-decoration: none;

                @include hocus() {
                    text-decoration: underline;
                }

                &::before,
                &::after {
                    border-color: transparent;
                    border-style: solid;
                    left: 50%;
                    pointer-events: none;
                    position: absolute;
                }

                &::before {
                    border-bottom-color: $color-primary;
                    border-width: 12px;
                    bottom: -$inuit-global-spacing-unit-small;
                    margin-left: -12px;
                }

                &::after {
                    border-bottom-color: $color-white;
                    border-width: 12px;
                    bottom: -($inuit-global-spacing-unit-small + 1);
                    margin-left: -12px;
                }
            }

            .page--about .site-nav__about,
            .page--pricing .site-nav__pricing {
                color: $color-link;

                &::before,
                &::after {
                    content: '';
                }
            }
