/* ==========================================================================
   #FOOTER
   ========================================================================== */

.c-footer {
    width: 100%;

    &--landing {
        position: absolute;
        bottom: 0;
        width: 85.71%;
        a {
            color: rgba($c-white, .6);
        }
    }
}
