/* ==========================================================================
   #ALERTS
   ========================================================================== */

.alert {
    padding: $unit / 2 $unit;
    margin-bottom: $unit;
    border-radius: $global-radius;
    border: 1px solid $c-primary-darker;
    color: $c-primary-darker;
    background-color: rgba($c-primary-lighter, .2);
}

.alert--secondary {
    border-color: $c-secondary-darker;
    color: $c-secondary-darker;
    background-color: rgba($c-secondary-lighter, .4);
}

.alert--tertiary {
    border-color: $c-tertiary-darker;
    color: $c-tertiary-darker;
    background-color: rgba($c-tertiary-lighter, .2);
}
