/* ==========================================================================
   #FOMRS
   ========================================================================== */
.c-form {
    sup {
        color: $c-alert;
    }

    // jQuery Form Validation
    label.error {
        color: $c-alert;
        font-weight: normal;
    }

    // jQuery Form Validation
    input.error:not(:focus) {
        background-color: rgba($c-alert, .1);
    }

    &--disabled {
        fieldset,
        button {
            opacity: .4;
        }

        input,
        textarea,
        button,
        label {
            cursor: default;
            pointer-events: none;
        }
    }
}

    .c-form__label {
        font-weight: bold;
    }

@mixin radio-group--vertical {
    .c-form__radio-btn {
        border-width: 1px; // has to come first
        border-bottom-width: 0;
        display: block;

        &:first-child {
            border-radius: $global-radius $global-radius 0 0;
        }

        &:last-child {
            border-bottom-width: 1px;
            border-radius: 0 0 $global-radius $global-radius;
        }

    }
}

.c-form__radio-group {
    @include mq($until: tablet) {
        @include radio-group--vertical;
    }
}

    .c-form__radio-btn {
        border: 1px solid $c-text;
        border-right-width: 0;
        cursor: pointer;
        display: inline-block;
        font-weight: normal;
        padding: $unit / 4 $unit / 2;

        &[disabled] {
            opacity: 0.5;
        }

        >input {
            margin-right: $unit / 4;
        }

        &:first-child {
            border-radius: $global-radius 0 0 $global-radius;
        }

        &:last-child {
            border-radius: 0 $global-radius $global-radius 0;
            border-right-width: 1px;
        }

    }

.c-form__radio-group--vertical {
    @include radio-group--vertical;
}
