/* ==========================================================================
   #FOMRS
   ========================================================================== */

form {

    fieldset {
        border: 1px solid $oc-gray-6;
        border-radius: $global-radius;
        padding: $unit/2 $unit $unit;
    }

    legend {
        color: $oc-gray-6;
    }

    label {
        font-weight: bold;
    }

    ul {
        list-style: none;
        margin: 0;
    }

    input,
    textarea {
        background-color: rgba($c-text, .1);
        border: 1px solid $c-text;
        border-radius: $global-radius;
        box-shadow: inset 0 1px 2px rgba($c-black, .3);
        color: $c-text;
        padding: 6px 12px;

        &[type="text"],
        &[type="tel"],
        &[type="number"] {
            width: 100%;
        }

        &[type="radio"],
        &[type="checkbox"] {
            cursor: pointer;
        }
    }

    textarea {
        min-height: $unit * 3;
        width: 100%;
    }
}
