///* ========================================================================
//   #COLORS
//   ======================================================================== */

/**
 * Brand Colors
 */

$c-primary:               #6E1B52;
$c-primary-lighter:       lighten($c-primary, 10%);
$c-primary-darker:        darken($c-primary, 15%);

$c-secondary:             #fff;
$c-secondary-lighter:     lighten($c-secondary, 10%);
$c-secondary-darker:      darken($c-secondary, 20%);

$c-tertiary:              #449d44;
$c-tertiary-lighter:      lighten($c-tertiary, 10%);
$c-tertiary-darker:       darken($c-tertiary, 20%);


$c-text:                  #402434;
$c-accent:                $c-primary;
$c-background:            #f2f2f0;
$c-link:                  $c-secondary;
$c-hover:                 $c-secondary-darker;

$c-dark:                  #402434;
$c-light:                 #eee;
$c-alert:                 #cc394b;


$c-black:                 #000;
$c-dark-gray:             lighten($c-black, 20%);
$c-gray:                  lighten($c-black, 50%);
$c-light-gray:            lighten($c-black, 95%);
$c-white:                 #fff;


/**
 * Font Families
 */

$font-primary:      'Roboto', sans-serif;
$font-secondary:    'Roboto', sans-serif;

/**
 * Buttons
 */

$c-btn:                         $c-white;
$c-btn-bg:                      rgba($c-primary, .8);
$c-btn-bg-hover:                rgba($c-primary, 1);

$c-secondary-btn:               $c-text;
$c-secondary-btn-bg:            rgba($c-secondary, .8);
$c-secondary-btn-bg-hover:      rgba($c-secondary, 1);

$c-tertiary-btn:                $c-white;
$c-tertiary-btn-bg:             #449d44;
$c-tertiary-btn-bg-hover:       #398439;

/**
 * Gradients
 */
$gradient-primary-light:            $c-primary;
$gradient-primary-dark:             darken($c-primary, 15%);

$gradient-primary:                  linear-gradient(135deg, $gradient-primary-light 0%, $gradient-primary-dark 100%);
$gradient-primary-hover:            linear-gradient(135deg, darken($gradient-primary-light, 1%) 0%, darken($gradient-primary-dark, 5%) 100%);

$gradient-secondary-light:          $c-secondary;
$gradient-secondary-dark:           darken($c-secondary, 15%);

$gradient-secondary:                linear-gradient(135deg, $gradient-secondary-light 0%, $gradient-secondary-dark 100%);
$gradient-secondary-hover:          linear-gradient(135deg, darken($gradient-secondary-light, 1%) 0%, darken($gradient-secondary-dark, 5%) 100%);







