/* ==========================================================================
   #ORIENTATIONS
   ========================================================================== */

/**
 * orient content of a block
 *
 *   <div class="u-orient u-orient--middle"></div>
 */

$orient-horizontal: (
    left:   "flex-start",
    center: "center",
    right:  "flex-end"
);

$orient-vertical: (
    top:    "flex-start",
    middle: "center",
    bottom: "flex-end"
);

[class^="u-orient"],
[class*=" u-orient"] {
    display: flex !important;
}

@each $key, $value in $orient-vertical {
    .u-orient-#{$key} {
        align-items: #{$value} !important;
    }
}

@each $key, $value in $orient-horizontal {
    .u-orient-#{$key} {
        justify-content: #{$value} !important;
    }
}
