/* ==========================================================================
   #ORIENTATIONS
   ========================================================================== */

/**
 * orientate text and other content
 *
 *   <div class="u-content-center"></div>
 */

$orientations: (
    left: '-left',
    right: '-right',
    center: '-center'
);

@each $orientation, $orientations-namespace in $orientations {
    .u-content#{$orientations-namespace} {
        text-align: $orientation;
    }
}

.u-content-center\@mobile {
    @include mq($until: tablet) {
        text-align: center !important;
    }
}


.u-box-center {
    margin-left: auto;
    margin-right: auto;
}

.u-box-v-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
