/* ==========================================================================
   #OWL
   ========================================================================== */

.u-owl {

    > * {
        margin-bottom: $unit;
        margin-top: 0;
    }

    &--small > * {
        margin-bottom: $unit / 2;
    }

    &--large > * {
        margin-bottom: $unit * 2;
    }

    > :last-child {
        margin-bottom: 0;
    }

    &--top {
        > * {
            margin-bottom: 0;
        }

        > *+* {
            margin-top: $unit;
        }
    }

}
