/* ==========================================================================
   INUITCSS
   ========================================================================== */

/**
 * inuitcss, by @csswizardry
 *
 * github.com/inuitcss | inuitcss.com
 */


// SETTINGS
@import "settings.config";
@import "../node_modules/inuitcss/settings/settings.core";
@import "settings.global";
@import "../node_modules/open-color/open-color";
@import "settings.colors";

// Reassign `$inuit-global-spacing-unit` to `$unit`.
$unit-tiny:     $inuit-global-spacing-unit-tiny;
$unit-small:    $inuit-global-spacing-unit-small;
$unit:          $inuit-global-spacing-unit;
$unit-large:    $inuit-global-spacing-unit-large;
$unit-huge:     $inuit-global-spacing-unit-huge;





// TOOLS
@import "../node_modules/inuitcss/tools/tools.rem";
@import "../node_modules/inuitcss/tools/tools.font-size";
@import "../node_modules/inuitcss/tools/tools.clearfix";
@import "../node_modules/inuitcss/tools/tools.hidden";
@import "../node_modules/sass-mq/mq";

// Reassign lengthy font-size mixin to `font-size()`.
@mixin font-size($args...) {
  @include inuit-font-size($args...);
}

@mixin font($family) {
    @if $family == primary {
        font-family: $font-primary;
    } @else {
        font-family: $font-secondary;
    }
}



// GENERIC
@import "../node_modules/inuitcss/generic/generic.box-sizing";
@import "../node_modules/inuitcss/generic/generic.normalize";
@import "../node_modules/inuitcss/generic/generic.reset";
@import "../node_modules/inuitcss/generic/generic.shared";

/*
 * 1. Scale page to at least viewport height, min-height not enough
 */
html {
    background-color: $c-background;
    height: 100%; /* 1 */
}

body {
    @include font(primary);
    font-weight: 300;
    color: $c-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include font(secondary);
    font-weight: normal;
}

hr {
    border: 0;
    border-top: 1px solid $c-secondary;
}

a {
    transition: color $global-transition;
    text-decoration: none;
    color: rgba($c-accent, .75);

    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
    }
}

code {
    @include font(primary);
    display: inline-block;
    border: 1px solid rgba($c-text, .2);
    border-radius: $global-radius;
    background-color: rgba($c-text, .1);
    padding: 0 $unit/4;
    line-height: 1.3;

    pre > & {
        line-height: 1.5;
    }
}




// ELEMENTS
@import "../node_modules/inuitcss/elements/elements.page";
@import "../node_modules/inuitcss/elements/elements.headings";
@import "../node_modules/inuitcss/elements/elements.images";
@import "../node_modules/inuitcss/elements/elements.tables";
@import "elements.forms";





// OBJECTS
$inuit-wrapper-width: 970px;
@import "../node_modules/inuitcss/objects/objects.wrapper";
@import "../node_modules/inuitcss/objects/objects.layout";
@import "../node_modules/inuitcss/objects/objects.media";
@import "../node_modules/inuitcss/objects/objects.flag";
@import "../node_modules/inuitcss/objects/objects.list-bare";
@import "../node_modules/inuitcss/objects/objects.list-inline";
@import "../node_modules/inuitcss/objects/objects.box";
@import "../node_modules/inuitcss/objects/objects.block";
@import "../node_modules/inuitcss/objects/objects.ratio";
@import "../node_modules/inuitcss/objects/objects.crop";
@import "../node_modules/inuitcss/objects/objects.tables";
@import "../node_modules/inuitcss/objects/objects.pack";



// COMPONENTS
@import "components.hero";
// @import "components.site-footer";
@import "components.buttons";
@import "components.forms";
@import "components.jquery-ui";
@import "components.tables";
@import "components.alerts";
// @import "components.background";
@import "components.footer";
@import "components.landing";
@import "components.creation";



// PLUGINS
@import "plugins.featherlight";
@import "plugins.animate";



// UTILITIES
@import "../node_modules/inuitcss/utilities/utilities.clearfix";
$inuit-offsets: true;
$inuit-fractions: 1 2 3 7;
@import "../node_modules/inuitcss/utilities/utilities.widths";
@import "../node_modules/inuitcss/utilities/utilities.headings";
@import "../node_modules/inuitcss/utilities/utilities.spacing";
@import "../node_modules/inuitcss/utilities/utilities.print";
@import "../node_modules/inuitcss/utilities/utilities.hide";
@import "utilities.owl";
@import "utilities.orientation";

.u-100-height {
    height: 100%;
}

.u-text-small {
    font-size: 80%;
}

.u-text-large {
    font-size: 120%;
}

.u-opacity-30 {
    opacity: .3;
}

.u-text-center {
    text-align: center;
}

.u-block-center {
    margin-right: auto;
    margin-left: auto;
}

.u-white {
    &,
    a {
        color: $c-white;
    }
}

.u-eclipse {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
