---
layout: creation-grid
---

<section class="o-wrapper c-landing u-text-center u-orient-middle u-orient-center">

    <div class="u-padding-top-large u-padding-bottom-large">

        <div class="c-hero animated fadeInDown u-white">
            <h1 class="c-hero__title">Waldenser-Studienfahrten</h1>
            <!-- <h2 class="c-hero__date">22.07. &mdash; 29.07.2018 für Bergwanderer</h2> -->
            <h2 class="c-hero__date">29.07. &mdash; 05.08.2018 für Familien und Bergwanderer</h2>
        </div>

        <ul class="o-list-bare c-nav u-owl animated fadeInUp  u-1/1 u-1/2@tablet u-block-center">
            <li>
                <a href="/infos/" class="c-nav__button c-btn c-btn--secondary u-eclipse">Mehr Informationen</a>
            </li>
            <li>
                <a href="/anmeldung/" class="c-nav__button c-btn c-btn--secondary u-eclipse">Anmelden</a>
            </li>
            <li>
                <a href="http://bilder.waldenses.org" class="c-nav__button c-btn c-btn--secondary u-eclipse">Bilder</a>
            </li>
        </ul>

    </div>

</section>

{% include footer.html %}
