---
layout: default
---

<main class="u-text-center u-100-height">

    <div class="o-box o-box--vcenter">

        <div class="c-hero animated fadeInDown u-white">
            <h1 class="c-hero__title">Waldenser-Studienfahrten</h1>
            <h2 class="c-hero__date">06. – 13.08.2017 / 13. – 20.08.2017</h2>
        </div>

        <ul class="o-list-bare c-nav u-owl animated fadeInUp u-1/2 u-block-center">
            <li>
                <a href="/infos/" class="c-nav__button c-btn c-btn--block c-btn--secondary">Mehr Informationen</a>
            </li>
            <li>
                <a href="/anmeldung/" class="c-nav__button c-btn c-btn--block c-btn--secondary">Anmelden</a>
            </li>
        </ul>

    </div>

</main>

{% include footer.html %}
