---
layout: default
---

<main class="c-page-container u-content-center">

    <div class="o-box u-box-v-center">

        <div class="c-hero animated fadeInDown">
            <h1 class="c-hero__title">Waldenser-Studienfahrten</h1>
            <h2 class="c-hero__date">06. – 13.08.2017 / 13. – 20.08.2017</h2>
        </div>

        <ul class="o-list-bare c-nav u-owl animated fadeInUp">
            <li class="c-nav__item">
                <a href="/infos/" class="c-nav__button c-btn c-btn--primary">Mehr Informationen</a>
            </li>
            <li class="c-nav__item">
                <a href="/anmeldung/" class="c-nav__button c-btn c-btn--primary">Anmelden</a>
            </li>
            <li class="c-nav__item u-opacity-30">
                <a href="/impressum/">Impressum</a> &#124; <a href="/datenschutzerklaerung/">Datenschutzerklärung</a>
            </li>
        </ul>

    </div>

</main>
